<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastReport.Compat" version="2023.3.0" targetFramework="net46" />
  <package id="FastReport.OpenSource" version="2023.3.2" targetFramework="net46" />
  <package id="itext7" version="8.0.1" targetFramework="net46" />
  <package id="itext7.pdfhtml" version="5.0.1" targetFramework="net46" />
</packages>