<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FastReport" publicKeyToken="5ceb240df42bf6e8" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
